* {
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    // vertical-align: center;
    // align-items: center;
}

confirm-dialog-wrapper {
    height: 100%;
}