.navbar {
    background-color: #dfc39e;
    /* Light greenish color */
    padding: 20px 20px;
    font-size: 18px;
}

.nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    // justify-content: space-between; 
    align-items: center;
}

.nav-items li a {
    text-decoration: none;
    color: #333;
    cursor: pointer;
    margin-inline: 10px;
}

.nav-items li a:hover {
    color: #222;
}

.active {
    font-weight: bold;
}

.rightNavItems {
    margin-left: auto;
}